doctype
html
  head
    title #{title}
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1 Edit #{title}
    form(action=redirect id="editForm" method="post")
      input(type="hidden" name="_method" value="PUT")
      each val, key in editItem
        div(id=key)
          label #{key} :
          br
          input(type="text" name="#{key}" value="#{val}" class="inputs")
          br
      input(type="submit" value="Submit")
    script(type='text/javascript' src="/js/displayFormSuccess.js")
    script(type='text/javascript' src="/js/editForm.js")
